{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME AND EDUCATION </title>
    <link href="{% static 'assets/img/log.jpg' %}" rel="icon">
  <link href="{% static 'assets/img/homeandeducation.jpg' %}" rel="icon">
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=100">
   
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
   

            {% block content %}{% endblock %}
   
   
  
</body>
</html>