{% extends 'base.html' %}

{% block content %}

<div class="card-body">

   <div class="pagetitle">
      <h3>ROCAF</h3>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/showcause">Show Causes</a></li>
          <li class="breadcrumb-item">Add Recent Cause</li>
          
        </ol>
      </nav>
    </div>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row mt-1">
    <label class="col-sm-4 col-form-label"><strong> CAUSE TITLE:  </strong></label>  
     <div class="col-sm-12">  
      <div class="card"> 
      {{ form.causetitle }} 
      </div> 
    </div>  
  </div> 
   <br/>


   <div class="row mt-1">
    <label class="col-sm-4 col-form-label"><strong> CAUSE DESCRIPTION:  </strong></label>  

    <div class="col-sm-12">  
      <div class="card"> 
       
      {{ form.causedescription }} 
           </div> 
    </div>  
  </div> 
 
  <br/>
   <br/>
      <div class="row mt-1">
    <label class="col-sm-4 col-form-label"><strong> cAUSE IMAGE1:  </strong></label>  

    <div class="col-sm-12">  
      <div class="card"> 
        
      {{ form.cause_main_img1 }} 
      </div> 
    </div>  
  </div> 
   <br/>
        <div class="row mt-1">
    <label class="col-sm-4 col-form-label"><strong> cAUSE IMAGE2:  </strong></label>  

    <div class="col-sm-12">  
      <div class="card"> 
      {{ form.cause_main_img2 }} 
      </div> 
    </div>  
  </div> 
   <br/>
        <div class="row mt-1">
    <label class="col-sm-4 col-form-label"><strong> cAUSE IMAGE3:  </strong></label>  

    <div class="col-sm-12">  
      <div class="card"> 
      {{ form.cause_main_img3 }} 
      </div> 
    </div>  
  </div> 
   <br/>
        <div class="row mt-1">
    <label class="col-sm-4 col-form-label"><strong> cAUSE IMAGE4:  </strong></label>  

    <div class="col-sm-12">  
      <div class="card"> 
      {{ form.cause_main_img4 }} 
      </div> 
    </div>  
  </div> 
   <br/>
        <div class="row mt-1">
    <label class="col-sm-4 col-form-label"><strong> cAUSE IMAGE5:  </strong></label>  

    <div class="col-sm-12">  
      <div class="card"> 
      {{ form.cause_main_img5 }} 
      </div> 
    </div>  
  </div> 
   <br/>
    <div class="row mt-1">
    <label class="col-sm-4 col-form-label"><strong> cAUSE IMAGE6:  </strong></label>  

    <div class="col-sm-12">  
      <div class="card"> 
      {{ form.cause_main_img6 }} 
      </div> 
    </div>  
  </div> 

    <br/>

    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-12">  
   <center> <button type="submit" class="btn btn-success"><strong>UPLOAD CAUSE</strong></button> </center> 
    </div>  
  </div>  
    </div>  
</form>  

{% endblock %}
