{% extends 'base.html' %}

{% block content %}

<div class="pagetitle">
      <strong>ROCAF</strong>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard"><strong> Home </strong> </a></li>
          <li class="breadcrumb-item"><strong>Services </strong></li>

        </ol>

       <center><a href="/serviceupload" class="btn btn-outline-primary"><strong>Create Service </strong></a></center>

      </nav>
         
    </div>
<br/>


  <section class="section">
      <div class="column">

<table class="table table-striped table-bordered table-striped">  
    <thead>  
    <tr>  
        <th> category </th>  
        <th>Service Title</th>  
        <th>Service DEscription1 </th>
        <th>Service DEscription2 </th>
        <th>Service DEscription3 </th>
        <th>Service IMAGE </th>
      
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  


   {% for service in service_images %} 


    <tr>  
   
        <td>{{ service.servicecategory }}</td>  
        <td>{{ service.servicetitle }}</td>  
        <td>{{ service.servicedescription1 }}</td>  
        <td>{{ service.servicedescription2 }}</td>  
        <td>{{ service.servicedescription3  }}</td>
      <td>{{ service.service_main_img }}</td>   

      <td><a href="/deleteservice/{{ service.id }}"><strong>DELETE Service </strong></a></td>      
    </td>  
    </tr>  

    {% endfor %}
 
    </tbody>  

</table>  
</div>

</section>



</div>

{% endblock %}



